.scrollApp {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.menu-item {
  padding: 0 0px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.menu-item-wrapper.active {
  border: 0px blue solid;
}

.menu-item.active {
  border: 0px green solid;
}

.menu-item-wrapper:focus,
.menu-item:focus {
  outline: none;
}

.scroll-menu-arrow {
  padding: 0px;
  cursor: pointer;
  color: #ecb442;
  font-weight: bold;
}

.scroll-menu-arrow--disabled {
  visibility: hidden;
}

.arrow-next {
  position: relative;
  right: -10px;
}

.arrow-prev {
  position: relative;
  left: -10px;
}
