.overlay-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
    top: 50%;
    background-image: linear-gradient( transparent, rgb(255, 192, 56, 0.8) 30%); 
}

.overlay-title-container {
    position: absolute;
    bottom: 10%;
    padding: 5px;
    width: 100%;
}

.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

